<a href="https://colab.research.google.com/github/Hfurqan980/Pyhton-Loops-tasks/blob/main/loops_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Write code here

ctc_input = float(input("Enter your CTC (in lakhs per annum): "))

# covert ctc from lakhs to rupees
ctc = ctc_input * 100000

# Calculate standard deduction
hra = ctc * 0.1
da = ctc * 0.05
pf = ctc * 0.03

# calculate total deduction
total_deduction = hra + da + pf

# calculate taxable salary after deducton
taxable_salary = ctc - total_deduction

# Applying taxes according to slab
if ctc_input < 5:
  tax_rate = 0
elif ctc_input <=10:
  tax_rate = 10
elif ctc_input <=20:
  tax_rate = 20
else:
  tax_rate = 30

# calculate taxes on salary
tax = (tax_rate/100) * taxable_salary

# Annual salary
in_hand_annual_salary = taxable_salary - tax

# Monthly salary
in_hand_monthly_salary = in_hand_annual_salary/12

print(f"\nðŸ‘‰ Your monthly in-hand salary is: â‚¹{in_hand_monthly_salary}")

Enter your CTC (in lakhs per annum): 12

ðŸ‘‰ Your monthly in-hand salary is: â‚¹65600.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here

angle1 = int(input("enter angle 1 = "))
angle2 = int(input("enter angle 2 = "))
angle3 = int(input("enter angle 3 = "))

triangle = angle1 + angle2 + angle3

if angle1 > 0 and angle2 > 0 and angle3 > 0 and triangle == 180:
  print("A triangle")
else:
  print("Not a triangle")

enter angle 1 = 60
enter angle 2 = 60
enter angle 3 = 60
A triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here

cost_price = int(input("Enter cost price = "))
selling_price = int(input("enter the selling price = "))

if cost_price > selling_price:
  print("You are in loss")

else:
  print("You are in profit")

Enter cost price = 200
enter the selling price = 100
You are in loss

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
# Write code here

print(
'''
1.cm to ft
2.km to miles
3.USD to INR
4.exit'''
)



while True:

  choice = input("enter your choice = ")

  if choice == '1':
    cm = int(input("Enter the value in centi meter = "))
    ft = cm/30.48
    print("cm to ft is =",ft)

  elif choice == '2':
    km = int(input("Enter the value in kilo meter = "))
    miles = km * 0.621371
    print("km to miles is =",miles)

  elif choice == '3':
    Usd = int(input("Enter values in USD = "))
    exchange_rate = int(input("enter the current exchange rate = "))
    INR = Usd * exchange_rate
    print("USD to INR is =",INR)

  elif choice == '4':
    print("Exiting the program. Have a great day!")
    break

  else:
    print("Invalid choice! Please try again")

1.cm to ft
2.km to miles
3.USD to INR
4.exit
enter your choice = 4
Exiting the program. Have a great day!

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here

n = int(input("Enter the nth term = "))
a = 0
b = 1

for i in range(0,n):
  print(a , end = ' ')
  next = a+b
  a = b
  b = next

Enter the nth term = 10
0 1 1 2 3 5 8 13 21 34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 Ã— 4 Ã— 3 Ã— 2 Ã— 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here

num = int(input("enter the number = "))

fact = 1
for i in range (num,0,-1):
  fact = fact * i

print(f"factorial of {num} is :",fact)

enter the number = 5
factorial of 5 is : 120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
from string import digits
# Write code here

number = int(input("enter a number u want to reverse = "))

# One way
if number < 0:
  reverse_num = int("-" + str(abs(number)[::-1]))
else:
  reverse_num = int(str(number)[::-1])

print(f"Reverse of {number} is :",reverse_num)

# ANother ways to  solve using loop

reversed = 0
while number != 0:
  digit = number % 10
  reversed = reversed * 10 + digit
  number//=10
print(reversed)

enter a number u want to reverse = 321
Reverse of 321 is : 123
123

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here

N = int(input("enter the integer = "))
sum = 0
i = 1

while i <= N +1:
  if i % 5 == 0:
    i += 1
    continue

  sum += i

  if sum > 300:
    sum -= i
    break

  print(i, end = " ")
  i+=1

print ("")
print(sum)

enter the integer = 51
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26
276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here

num = int(input("enter number = "))
sum = 0
counter = 0
while True:

  if num == 0:
    break
    print("You enter the invalid value")

  print(num)
  sum += num
  num = int(input("enter number = "))
  counter += 1

print("Sum = ",sum)
print("counter = ",counter)
average = sum//counter
print("Average =",average)

enter number = 2
2
enter number = 3
3
enter number = 0
Sum =  5
counter =  2
Average = 2

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here

i = 2000
L = []
while i <= 3200+1:
  if i % 7 == 0 and i % 5 != 0:
    L.append(str(i))
  i += 1

print(",".join(L))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here

L = []

for i in range (1000,3001):
  flag = True
  curr = i

  while curr > 0:
    last = curr % 10
    if last % 2 != 0:
      flag = False
      break
    curr = curr//10
  if flag:
    L.append(str(i))
print(",".join(L))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

pos = [0,0]
while True:
  s = input("enter the movement = ")
  if s == "!":
    break
  direction = s.split()[0]
  magnitude = int(s.split()[1])

  if direction == "UP":
    pos[1] = pos[1] + magnitude
  elif direction == "DOWN":
    pos[1] = pos[1] - magnitude
  elif direction == "LEFT":
    pos[0] = pos[0] - magnitude
  elif direction == "RIGHT":
    pos[0] = pos[0] + magnitude
  else:
    pass

print(round((pos[0]**2 + pos[1]**2)**0.5,1))

enter the movement = UP 5
enter the movement = DOWN 3
enter the movement = LEFT 3
enter the movement = RIGHT 2
enter the movement = !
2.2

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here

number = int(input("Enter number = "))
flag = True

for i in range(2, number):
  if number % i == 0:
    flag = False
    break

  print(number)
if flag == True:
  print("Prime no")
else:
  print("Not prime no")

Enter number = 10
Not prime no

In [ ]:
lower = int(input("Enter lower number = "))
upper = int(input("Enter upper number = "))

for i in range(lower , upper):
  for j in range (2, i):
    if i%j == 0:
      break
  else:
    print(i)

Enter lower number = 10
Enter upper number = 100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here